---
import Button from "../components/Button.astro";
import Heading1 from "../components/Heading1.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Tilgængelighed | ADHD Og Autisme Konsulent" description="">
  <article class="grid max-w-prose gap-4">
    <Heading1>Tilgængelighed</Heading1>
    <p>
      Adhd-konsulent.dk lægger stor vægt på at sikre effektiv kommunikation og
      digital tilgængelighed for alle brugere. Jeg arbejder på at forbedre
      brugeroplevelsen for alle og anvender de relevante standarder for
      tilgængelighed for at opnå disse mål. Jeg vil meget gerne have din
      feedback om tilgængeligheden på adhd-konsulent.dk. Hvis du oplever
      problemer med tilgængeligheden på adhd-konsulent.dk, vil jeg meget gerne
      vide det.
    </p>
    <Button href="/kontakt" size="md" theme="dark" arrow>Kontakt</Button>
  </article>
</PageLayout>
