---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Button from "../components/Button.astro";
import Heading2 from "../components/Heading2.astro";
import Heading1 from "../components/Heading1.astro";
import ColumnLayoutImage from "../components/ColumnLayoutImage.astro";

// Images
import ChildOnPillar from "../assets/images/child-on-pillar.jpg";
import GirlSpeedWalking from "../assets/images/girl-speed-walking.jpg";
import PillowFight from "../assets/images/pillow-fight.jpg";
---

<PageLayout
  title="Hvad Er ADHD?"
  description="Få indsigt i, hvad ADHD og ADD er, og om man kan leve et normalt liv med diagnosen ADHD/ADD."
>
  <ColumnLayout>
    <article class="grid max-w-prose gap-8 sm:col-span-2">
      <article class="flex flex-col gap-4">
        <Heading1>Hvad er ADHD?</Heading1>
        <div class="grid gap-4">
          <p>
            Omkring 2-3% af alle børn får diagnosen ADHD. ADHD er en
            neuropsykiatrisk lidelse, der påvirker personens evne til at
            opretholde opmærksomhed og regulere aktivitetsniveauet. ADHD står
            for Attention Deficit / Hyperactivity Disorder.
          </p>
          <ul class="list-disc">
            ADHD er karakteriseret ved kernesymptomerne:
            <li class="ml-8">Opmærksomhedsforstyrrelse</li>
            <li class="ml-8">Hyperaktivitet</li>
            <li class="ml-8">Impulsivitet</li>
          </ul>
          <p>
            Det er ikke nødvendigt at have symptomer inden for alle tre områder
            for at få diagnosen.
          </p>
        </div>
      </article>
      <article class="flex flex-col gap-4">
        <Heading2>Hvad er ADD?</Heading2>
        <p>
          Diagnosen ADD bruges til at beskrive "den stille ADHD", hvor personer
          oplever betydelige opmærksomhedsforstyrrelser, men uden, eller med
          mindre synlig, hyperaktivitet.
        </p>
      </article>
    </article>
    <ColumnLayoutImage
      src={PillowFight}
      alt="To børn har pudekamp på en seng"
    />
  </ColumnLayout>
  <ColumnLayout>
    <ColumnLayoutImage
      src={GirlSpeedWalking}
      alt="Gående fartsløret pige foran grønt hus"
      class="order-last object-bottom sm:order-first"
    />
    <article class="flex max-w-prose flex-col gap-8 sm:col-span-2">
      <Heading2>Hvad skyldes symptomerne?</Heading2>
      <div class="grid gap-4">
        <p>
          Forskning indikerer, at symptomerne ved ADHD er forbundet med en
          reduceret evne i hjernen til at transportere signalstofferne dopamin
          og noradrenalin.
        </p>
        <p>
          ADHD er et område med intensiv forskning, og vores forståelse af
          symptomerne, årsagerne, behandlingsmetoder og pædagogiske tilgange
          udvikles konstant.
        </p>
      </div>
    </article>
  </ColumnLayout>
  <ColumnLayout>
    <article class="flex max-w-prose flex-col gap-8 sm:col-span-2">
      <Heading2>Kan man leve et normalt liv med ADHD?</Heading2>
      <div class="grid gap-4">
        <p>
          De fleste mennesker med ADHD lever et godt og almindeligt liv.
          Mennesker med ADHD har normalt intelligens og er lige så individuelt
          forskellige i deres personlighed som alle andre.
        </p>
        <p>
          ADHD's omfang og symptomer varierer markant, og vanskelighederne vil
          desuden afhænge af den enkeltes livssituation og tilgængelige
          muligheder for støtte og behandling.
        </p>
      </div>
    </article>
    <ColumnLayoutImage
      src={ChildOnPillar}
      alt="Pige som læser i en bog mens hun sidder på en høj sten"
    />
  </ColumnLayout>
  <section class="flex flex-col items-center gap-2">
    <p class="text-lg">
      Lær mere om ADHD / ADD på ADHD-foreningens hjemmeside.
    </p>
    <Button
      href="https://adhd.dk/"
      target="_blank"
      rel="noopener noreferrer"
      theme="red"
      arrow
      size="md"
    >
      Besøg ADHD.dk
    </Button>
    <p>eller</p>
    <Button href="/kontakt" theme="dark" arrow size="md">Kontakt Lasse</Button>
  </section>
</PageLayout>
