---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Heading1 from "../components/Heading1.astro";
import ColumnLayoutImage from "../components/ColumnLayoutImage.astro";
import ContactInformation from "../components/ContactInformation.astro";

// Images
import BoyOnShouldersImg from "../assets/images/boy-on-shoulders.jpg";
---

<PageLayout
  title="Kontakt"
  description="Kontakt Lasse og få en gratis uforpligtigende samtale om, hvordan han kan hjælpe din familie med at tackle en hverdag med ADHD og autisme."
>
  <ColumnLayout>
    <article class="flex flex-col gap-4 sm:col-span-2">
      <Heading1 transition:name="kontakt-title">Kontakt</Heading1>
      <p>
        Din vej mod forandring starter her. Udfyld formularen og jeg vil
        kontakte dig snarest muligt, så vi sammen kan tage de første skridt mod
        et samarbejde og støtte i forhold til at være en familie med ADHD/ADD og
        autisme. Jeg ser frem til at være en del af jeres rejse mod et mere
        balanceret familieliv.
      </p>
    </article>
    <ColumnLayoutImage
      src={BoyOnShouldersImg}
      alt="Barn sidder på skuldrene af en far"
      quality={"low"}
      class="object-left"
    />
  </ColumnLayout>
  <ContactInformation />
</PageLayout>
