---
import ColumnLayout from "../layouts/ColumnLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Heading2 from "../components/Heading2.astro";
import Heading1 from "../components/Heading1.astro";
import Achievements from "../components/Achievements.astro";
import ColumnLayoutImage from "../components/ColumnLayoutImage.astro";

// Images
import LasseAndWifeImg from "../assets/images/lasse-family.png";
import BooksImg from "../assets/images/book-stack.jpg";
---

<PageLayout
  title="Om"
  description="Lær mere om Lasse som ADHD og autisme konsulent, hans kvalifikationer og værdier."
>
  <ColumnLayout>
    <article class="flex max-w-prose flex-col gap-8 sm:col-span-2">
      <Heading1>Om Lasse</Heading1>
      <div class="grid gap-4">
        <p>
          Mit navn er Lasse, og jeg er en dedikeret og erfaren ADHD og autisme
          konsulent med mere end 25 års erfaring i forhold til at støtte
          familier, der har behov for at få nye værktøjer som forældre til børn
          med ADHD eller autisme. Jeg brænder for at gøre en positiv forskel i
          folks liv og har specialiseret mig i at give professionel vejledning
          og støtte til familier, der står over for disse udfordringer.
        </p>
        <p>
          Jeg er typen der ikke kan sidde stille, og har derfor altid et nyt
          projekt på bedding, både på, og efter arbejde. Jeg elsker specielt at
          arbejde med mine hænder med bl.a. at reparere og modificere
          racercykler, passe på mine agurker i drivhuset, eller at hugge brænde
          til de kolde vinter aftenener.
        </p>
      </div>
    </article>
    <ColumnLayoutImage
      src={LasseAndWifeImg}
      alt="Lasse og hans kone smiler til hinanden"
      quality={"low"}
    />
  </ColumnLayout>
  <Achievements background="white" />
  <ColumnLayout>
    <ColumnLayoutImage
      src={BooksImg}
      alt="Stablede bøger"
      quality={"low"}
      class="object-left"
    />
    <div class="grid gap-8 sm:col-span-2 sm:gap-16">
      <article class="grid gap-4">
        <Heading2>Kvalifikationer</Heading2>
        <div>
          <p>
            Min grunduddannelse er pædagog. Jeg har løbende efteruddannet mig i:
          </p>
          <ul class="ml-8 list-disc">
            <li>ADHD pædagogik</li>
            <li>ADHD Forældrekursus (KIK - Kærlighed i kaos)</li>
            <li>Autisme pædagogik</li>
            <li>Teacch (pictogramintegration) autisme pædagogik</li>
            <li>Systemisk familiebehandling</li>
            <li>Kognitiv terapi</li>
            <li>Mentaliseringsbaseret familiebehandling</li>
          </ul>
          <p class="mt-4">
            Derudover har jeg udarbejdet en række kurser for den offentlige
            sektor.
          </p>
        </div>
      </article>
      <article class="grid gap-4">
        <Heading2>Værdier</Heading2>
        <p>
          Mine værdier og tilgang dybt forankret i empati, respekt og individuel
          tilpasning. Jeg tror på, at hver familie er unik, og jeg tilpasser min
          støtte til at imødekomme jeres specifikke behov og udfordringer. Min
          tilgang er baseret på en dyb forståelse af, hvordan ADHD og autisme
          kan påvirke både individet og hele familien. Jeg er opsat på at skabe
          et trygt og tillidsfuldt rum, hvor familier føler sig hørt, set og
          forstået.
        </p>
        <p>
          Mit mål er at støtte jer med at opdage jeres styrker og ressourcer.
          Dette med henblik på, at skabe et mere harmonisk familieliv. Jeg er
          passioneret omkring at gøre en positiv forskel i familiers liv og
          arbejder kun på at levere professionel støtte, der er varig og
          meningsfuld.
        </p>
      </article>
    </div>
  </ColumnLayout>
</PageLayout>
