---
const { clientName, statement } = Astro.props;
---

<article
  class="group flex max-w-xs flex-col gap-2 rounded-lg bg-slate-50 p-4 shadow transition-all hover:shadow-lg"
>
  <h3 class="font-bold group-hover:text-rose-800">{clientName}</h3>
  <p class="italic text-slate-500">{statement}</p>
</article>
