---
import type { HTMLAttributes } from "astro/types";
import { twMerge } from "tailwind-merge";

const { class: className, ...props } = Astro.props as HTMLAttributes<"section">;
---

<section
  class={twMerge("grid grid-cols-1 gap-8 sm:grid-cols-3 sm:gap-12", className)}
  {...props}
>
  <slot />
</section>
