---
import { ViewTransitions } from "astro:transitions";
import Fonts from "../components/head/Fonts.astro";
import Footer from "../components/navigation/Footer.astro";
import NavigationBar from "../components/navigation/NavigationBar.astro";
import Analytics from "../components/head/Analytics.astro";
import MetaData from "../components/head/MetaData.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html
  lang="da"
  class="scroll-p-24 scroll-smooth bg-neutral-100 font-poppins text-slate-700 outline-slate-700"
>
  <head>
    <Fonts />
    <MetaData title={title} description={description} />
    <!-- <Analytics/> -->
    <ViewTransitions />
  </head>
  <body>
    <NavigationBar />
    <main
      id="main-content"
      class="mx-4 my-16 grid max-w-screen-xl gap-16 leading-6 sm:mx-8 xl:mx-auto"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
